html, body {
    height: 100%;
    background-color: #f7eedf;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 8px;
    color: #050a30;
}

p {
    margin-top: 8px;
    margin-left: 18px;
    color: #716258;
}